
/*-                            Estilo do tabuleiro                            -*/

#texto{
    margin-left: 135px;
}

#blocoArea{
    border-color: aqua;
    height: 150px; 
    width: 150px;
    font-size: 70px;
}

.tabuleiro-container{
    margin-top: 70px;
    margin-left: 550px;
}

/*-                             Estilo da Index                               -*/

/*-                             Estilo da Pag Cadastro                        -*/
