
<form action="POST" method="">
    <label for="">nome</label>
    <input type="text" name="nome"><br>

    <label for="">data de nascimento</label>
    <input id="date" type="date" name="dataNasc"><br>

    <label for="">email</label>
    <input type="text" name="email"><br>

    <label for="">senha</label>
    <input type="password" name="senha"><br><br>
    <input type="button" id="cadButton" class="cadButton" name="cadButton" value="cadastrar">
</form>