<div class="container-md">
    <form action="/cadastrarUsuario" method="POST">

        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome">
        </div>

        <div>
            <label for="dataNasc">data de nascimento</label>
            <input id="date" type="date" id="dataNasc" name="dataNasc" class="form-control"><br>
        </div>

        <div class="form-group">
            <label for="email">E-Mail</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
        </div>

        <div class="form-group">
            <label for="password">Senha</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>

        <button type="submit" class="btn btn-primary">Cadastrar Usuário</button>
    </form>
    <br>
    <div>
        <button class="btn btn-primary">Voltar</button>        
    </div>
</div>

