
<div class="container-md">
    <form action="/usuarios/login" method="post">
        <div class="form-group">
            <label for="nome">Usuário</label>
            <input type="email" class="form-control" id="nome" name="nome">
        </div>


        <div class="form-group">
            <label for="password">Senha</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>

        <button type="Logar" class="btn btn-primary">Entrar</button>
    </form>
</div>