<form action="POST" method="">
    <label for="">usuario</label>
    <input type="text" name="usuario"><br>

    <label for="">senha</label>
    <input type="password" name="senha"><br><br>

    <input type="button" name="logar" id="logar" value="entrar">
</form>