
<head>
   <script src=""></script>
</head>

<body>
    <h1>Jogo da Velha</h1>
    <button id="B1-1">x</button>
    <button id="B1-2">x</button>
    <button id="B1-3">x</button>
    <br>
    <button id="B2-1">x</button>
    <button id="B2-2">x</button>
    <button id="B2-3">x</button>
    <br>
    <button id="B3-1">x</button>
    <button id="B3-2">x</button>
    <button id="B3-3">x</button>
</body>

</html>